.add-new-markets {
  width: 100%;
}
.no-of-photos {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: rgb(92, 86, 86);
}
.all-added-photos {
  height: 90px;
  border: 1px solid rgb(245, 243, 243);
  margin-top: 40px;
  overflow-y: scroll;
}

.added-photo-first {
  height: inherit;
  width: 90px;
  background-color: #7f7af8;
  cursor: pointer;
}
.added-photo {
  height: inherit;
  width: 90px;
  background-color: #7f7af8;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}
.added-photos div img {
  height: 90px;
  width: 90px;
}
.photo-instruction {
  font-size: 11.5px;
  margin: 5px;
  color: grey;
}
.market-form {
  width: 60%;
  padding: 20px;
  margin: auto;
}

.market-form .title1 {
  font-size: 25px;
}
.location-form {
  margin-top: 10px;
}
.location-form span {
  margin-bottom: 10px;
}
@media screen and (max-width: 1100px) {
  .market-form {
    width: 100%;
    padding: 20px;
    margin: auto;
    
  }
  .form-control {
    font-size: 15px;
  }
  .market-form .title1 {
    font-size: 22px;
  }
}
.market-button button {
  background-color: rgb(211, 210, 210);
  float: right;
  width: 100px;
  margin: 1px;
  cursor: pointer;
}
.add-market-btn button {
  background-color: #8087cb;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.add-market-btn button:hover {
  background-color: #3c416d !important;
}
.cancel-market-btn button {
  background-color: grey;
  color: white;
}
.cancel-market-btn button:hover {
  background-color: rgb(94, 94, 94);
  color: white;
}
.cancel-market-btn:hover {
  background: red !important;
}
.added-photo span {
  font-size: 10px;
  margin-left: 20px;
  font-weight: 600;
  color: white;
}
.pac-target-input {
  margin: 5px 0 0 0 !important;
}
.action-buttons {
  margin-top: 20px;
}
.market-list {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  height: 95%;
}
.one-market {
  height: 90px;
  border: 1px solid rgb(231, 229, 229);
  border-radius: 4px;
  margin-bottom: 5px;
}
.one-market:hover {
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.397);
  border: 0px;
}
.market-picture {
  width: 70px;
  height: 70px;
  background: rgb(216, 214, 214);
  margin-top: 10px;
  margin-left: 7px;
  border: 1px solid rgb(230, 228, 228);
  float: left;
}
.market-picture img {
  width: 70px;
  height: 70px;
}
.market-title {
  float: left;
  margin: 20px;
}
.market-title .title {
  font-size: 18px;
  color: rgb(100, 98, 98);
  cursor: pointer;
}
.market-title .title:hover {
  color: rgb(140, 78, 202);
  text-decoration: underline;
}
.market-title .date {
  font-size: 15px;
  color: rgb(134, 126, 126);
}
.modify-icons-container {
  margin: 20px;
  color: rgb(129, 123, 123);
  cursor: pointer;
  float: right;
}

.modify-icons {
  float: right;
}
.modify-icons .edit {
  margin-right: 20px;
}
.delete-edit {
  display: none;
}
@media screen and (max-width: 920px) {
  .market-list {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .delete-edit {
    display: block;
  }
  .modify-icons {
    display: none;
  }
  .info-column {
    width: 90%;
  }
  .modify-column {
    width: 10%;
  }
}
@media screen and (max-width: 750px) {
  .market-title .title {
    font-size: 15px;
  }

  .market-title .date {
    font-size: 12px;
  }
}
.chat-opener-holder {
  bottom: 34px;
  right: 34px;
  position: fixed;
}
#chat-opener {
  padding: 12px 14px 11px;
  background-color: #fb7351;

  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px;
  border: none;
  border-radius: 50%;
  z-index: 12893128000000000000000000;
  outline: none;
  opacity: 1;
  width: 55px;
  height: 55px;
}
textarea {
  resize: none;
  height: 150px;
}
input {
  border: 1px solid rgb(116, 113, 113);
}
input:focus {
  border-color: #7f7af8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #7f7af8;
}
